body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1, h2 {
    font-weight: bold;
}
.centralizar{
    font-weight: bold;
    text-align: center;
}
footer {
    font-size: 14px;
}